.idea/
__pycache__/
CMakeLists.txt
cmake-build-debug/
t6-java/nbproject/
t6-java/nbproject/private/
build/
dist/
t6-java/build.xml
t6-java/manifest.mf
/t7/nbproject/private/
/t7-teste/nbproject/private/
*.user
/t7-java/nbproject/private/
/extra-table/nbproject/private/
/extra-table/nbproject/
/t8/nbproject/private/
/extra-table (cópia)/nbproject/private/